header{
  height: 100px;
  background-color: #F2F3F7;
  box-shadow: 0 2px 5px rgba(0,0,0,.06);
}

.logo{
  background-color: #F5C520;
  width: 200px;
  height: inherit;
}

.header_title{
  line-height: 26px;
  font-size: 30px;
  color: #323333;
}
